<div class="wrapper-to-do-list">
<div (click)="onKey()" class="closeCalc"></div>
  <header class="input-box">
    <input type="text" placeholder="type your lists here..">
  </header>
  <section class="list-area">
    <ul>
      <li class="lists">
        <input type="checkbox" class="done">
        <input type="checkbox" class="mark"> your typed lists
        <span class="delete">Del</span>
      </li>
    </ul>
  </section>
  <footer class="items-left">
    <span>items left</span>
  </footer>
</div>