<div (click)="compVisib($event.target)" class="wrapper">
    <div data-comp="bmi" class="bmi-calc-box boxes">
        <span data-comp="bmi">BMI Calculator</span>
      </div>
    <div data-comp="emi" class="emi-calc-box boxes">
      <span data-comp="emi">EMI Calculator</span>
    </div>
    <div data-comp="calc" class="calc-box boxes">
        <span data-comp="calc">Calculator</span>
      </div>
    <div data-comp="toDo" class="to-do-list-box boxes">
      <span data-comp="toDo">To-Do List</span>
    </div>
    <div data-comp="currency" class="currency-calc-box boxes">
      <span data-comp="currency">Currency Converter</span>
    </div>
</div>
